.Container-comentario {
    /* width: 100%; */
    /* height: auto; */
    margin-bottom: 2rem;
    padding: 0 5px;
    background-color: #ddd;
    box-shadow: #000 5px 5px 30px -5px, blue -5px -5px 15px -8px;
    border: 1px #eee solid;
    border-radius: 0.5rem;
}

.C01 {
    color: #000;
}

