.Comentario {
    /* width: 100%; */
    /* height: auto; */
    margin-bottom: 2rem;
    padding: 0 5px;
    background-color: #eee;
    box-shadow: #000 1px 1px 5px;
    border: 2px #ccc solid;
    border-radius: 0.5rem;
    transition: all 1s ease;
}

.C01 {
    color: #000;
}

